<div class="login-container">
    <img src="/reel-ratings/src/assets/reel.png" alt="" class="film">
  <div class="logo display-1">Reel Ratings</div>
  <div class="desc">
    Reel rating app is a one-stop platform for movie and TV enthusiasts. It's
    designed to help users discover, review, and rate films and shows. Whether
    you're seeking the latest releases or timeless classics, the app provides a
    user-friendly space to find information and make informed viewing choices.
    It combines both critic and audience reviews, giving a balanced view of each
    title's quality. With personalized recommendations and a vast database, your
    reel rating app is the go-to destination for exploring and enjoying visual
    storytelling.
  </div>
</div>
